@font-face {
  font-family: 'icon';
  src: url("../fonts/icomoon.eot?t6fcdt");
  src: url("../fonts/icomoon.eot?t6fcdt#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?t6fcdt") format('truetype'), url("../fonts/icomoon.woff?t6fcdt") format('woff'), url("../fonts/icomoon.svg?t6fcdt#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ubuntu-r-webfont.woff2") format('woff2'), url("../fonts/ubuntu-r-webfont.woff") format('woff'), url("../fonts/ubuntu-r-webfont.ttf") format('truetype'), url("../fonts/ubuntu-r-webfont.svg#ubunturegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #022e5b;
  font-family: 'ubuntu', 'Helvetica', 'sans-serif';
  height: auto;
  font-size: 16px;
  margin: 0;
}
.content_global {
  background: url("../img/pattpdi2.png");
  margin: 0 auto;
  max-width: 1400px;
  min-width: 300px;
  min-height: 700px;
  width: 100%;
  position: absolute;
}
h1 {
  color: #022e5b;
}
header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: auto;
  width: 100%;
}
header nav {
  height: auto;
  margin: 0 auto;
  font-size: 0;
  padding: 5px;
}
header nav .cont_menu {
  border-radius: 3px;
  vertical-align: top;
}
header nav .cont_menu ul {
  display: table;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  height: 30px;
  list-style: none;
  padding: 0;
}
header nav .cont_menu ul li {
  display: table-cell;
  text-align: center;
}
header nav .cont_menu ul li a {
  color: #2d2d2d;
  border-bottom: 2px solid #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}
header nav .cont_menu ul li a:hover {
  border-bottom: 2px solid #01295c;
  color: #01295c;
}
header nav .cont_menu ul li .menu_inicio {
  font-weight: bold;
}
header nav .cont_menu ul li .menu_inicio:before {
  font-family: "icon";
  content: "\e902";
}
header nav .cont_menu ul li .menu_inicio:after {
  font-family: "icon";
}
header nav .cont_menu ul li .menu_hva:after {
  font-family: "icon";
  content: "\e903";
}
header nav .cont_menu ul li .menu_alert:after {
  font-family: "icon";
  content: "\e901";
}
header nav .cont_menu ul li .menu_close {
  color: #59be5d;
}
header nav .cont_menu ul li .menu_close:after {
  font-family: "icon";
  content: "\e900";
}
header nav .cont_menu ul li .menu_close:hover {
  border-bottom: 2px solid #f0040c;
  color: #f0040c;
}
header nav .logo img {
  width: 100%;
}
footer {
  padding: 0;
  width: 100%;
  position: relative;
}
footer .pie_pag {
  height: auto;
  margin: 30px auto;
  padding: 3px;
  width: 210px;
}
footer .pie_pag img {
  display: block;
  margin: 0 auto;
}
footer .pie_pag .submenu {
  width: 100%;
  margin-top: 3px;
}
footer .pie_pag .submenu a {
  font-size: 14px;
  display: inline-block;
  color: #808080;
  text-decoration: none;
  padding: 2px 5px;
}
footer .pie_pag small {
  font-size: 12px;
}
.body_content {
  background: #fff;
  border-radius: 5px;
  margin: 10px auto;
  padding: 15px;
}
.body_content h1 {
  color: #346287;
  font-size: 1.4em;
}
.body_content input {
  border: 1px solid #ccc;
  padding: 5px;
}
.body_content .btn_button {
  background: #3c5a6f;
  border-radius: 3px;
  padding: 7px 10px;
  color: #fff;
  font-weight: 500;
}
.body_content .btn_button:hover {
  background: #0c2d46;
}
.body_content .title_hva {
  font-size: 1.8555em;
  margin: 16px 0px;
}
.body_content section {
  display: table;
  width: 100%;
}
.body_content section article {
  background: #f9f9f9;
  border: 4px solid #fff;
  cursor: auto;
  color: #323232;
  padding: 10px;
  text-align: justify;
  vertical-align: top;
}
.body_content section article img {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.body_content section article h3 {
  text-align: center;
}
.body_content section .hva:hover {
  background: #123b65;
  color: #fff;
}
.body_content section .option:hover {
  background: #2ec4b6;
  color: #fff;
}
.body_content section .alert:hover {
  background: #456990;
  color: #fff;
}
.body_content .body_hva {
  margin-top: 16px;
}
.body_content .body_hva .opciones h2 {
  text-align: center;
}
.body_content .body_hva .opciones .sublogo {
  width: 30%;
  margin: 25px auto 40px auto;
  max-width: 125px;
}
.body_content .body_hva .opciones .sublogo img {
  width: 100%;
}
.body_content .body_hva .opciones .links {
  display: table;
  width: 100%;
  margin: 30px auto;
}
.body_content .body_hva .opciones .links span {
  display: table-cell;
  text-align: center;
}
.body_content .body_hva .opciones .links span a {
  text-decoration: none;
  color: #022e5b;
}
.body_content .body_hva .opciones .links span a:hover {
  color: #34a953;
  text-decoration: underline;
}
.body_content .body_hva .opciones .links span .nuevo:after {
  font-family: 'icon';
  content: " \e907";
}
.body_content .body_hva .opciones .links span .editar:after {
  font-family: 'icon';
  content: " \e906";
}
.body_content .body_hva .opciones .links span .cargos:after {
  font-family: 'icon';
  content: " \e905";
}
@media screen and (min-width: 300px) {
  .cont_menu {
    margin: 5px auto 0px auto;
    width: 90%;
  }
  .cont_menu ul {
    width: 100%;
  }
  .logo {
    width: 40%;
    margin: 0px;
    min-width: 129px;
    max-width: 135px;
    margin: 0 auto;
  }
  .logo img {
    width: 100%;
  }
}
.body_content {
  width: 85%;
}
.body_content article img {
  width: 30%;
}
@media screen and (min-width: 720px) {
  .body_content {
    width: 70%;
  }
  .body_content h1 {
    font-size: 2em;
  }
  .body_content article img {
    width: 25%;
  }
  .body_content article p {
    font-size: 1.1em;
  }
  .cont_menu {
    width: 73%;
  }
}
@media screen and (min-width: 950px) {
  .body_hva .opciones {
    display: table-cell;
    width: 29%;
    height: 270px;
  }
}
@media screen and (min-width: 1000px) {
  nav {
    width: 77%;
    display: table;
    height: 120px;
  }
  nav div {
    display: table-cell;
  }
  nav .cont_menu {
    height: 120px;
    position: relative;
    margin-top: 0;
    right: 0;
  }
  nav .cont_menu ul {
    bottom: 30px;
    position: absolute;
    right: 0px;
    width: 30%;
  }
  nav .logo {
    width: 10%;
  }
  .body_content {
    width: 75%;
  }
}
