azul-fondo = #001633
azul-titulo = #346287
sub-menu = #00285B
subtitulo = #445566
bg-label = #fcfcfc
blanco = #FFFFFF
body-color = #f9f9f9
border = #F1F1F1
border-gris = #cccccc
*{
	-webkit-moz-box-sizing border-box
	-moz-box-sizing border-box
	-ms-box-sizing border-box
	-o-box-sizing border-box
	box-sizing border-box
}
// @font-face {
// 	font-family: 'icon';
// 	src:url('../fonts/icomoon.eot?t6fcdt');
// 	src:url('../fonts/icomoon.eot?t6fcdt#iefix') format('embedded-opentype'),
// 		url('../fonts/icomoon.ttf?t6fcdt') format('truetype'),
// 		url('../fonts/icomoon.woff?t6fcdt') format('woff'),
// 		url('../fonts/icomoon.svg?t6fcdt#icomoon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntu';
//     src: url('../fonts/ubuntu-r-webfont.eot');
//     src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
//          url('../fonts/ubuntu-r-webfont.woff') format('woff'),
//          url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
//          url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.eot');
    src: url('../fonts/roboto.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto.woff2') format('woff2'),
         url('../fonts/roboto.woff') format('woff'),
         url('../fonts/roboto.ttf') format('truetype'),
         url('../fonts/roboto.svg#roboto') format('svg');
 }

body
	background azul-fondo
	font-family 'roboto', 'Helvetica', 'sans-serif'
	height auto
	font-size 16px
	margin 0
.content_global
	// background url(../img/pattpdi2.png)
	background #FAFAFA
	margin 0 auto
	max-width 1400px
	min-width 300px
	min-height 700px
	width 100%
	position absolute
h1
	color azul-fondo
header
	background #FAFAFA
	border-bottom 2px solid #F1F1F1
	display block
	height auto
	width 100%
	nav
		font-size 0
		height auto
		margin 0 auto
		.cont_menu
			vertical-align top
			ul
				display table
				// background #F8F8F8
				border 1px solid #e5e5e5
				border-radius 3px
				height 30px
				list-style none
				padding 0
				li
					display table-cell
					text-align center
					a
						color #022E5B
						border-bottom 2px solid blanco
						display block
						font-size 14px
						line-height 20px
						padding 5px
						text-decoration none
						&:hover
							border-bottom 2px solid #022E5B
							color blanco
							background #022E5B
					.ico
						padding-right 3px
						font-size 20px

		.logo
			img
				width 100%
footer
	padding 0
	width 100%
	position relative
	.pie_pag
		height auto
		margin 30px auto
		padding 3px
		width 210px
		img
			display block
			margin 0 auto
		.submenu
			width 100%
			margin-top 3px
			a
				font-size 14px
				display inline-block
				color gray
				text-decoration none
				padding 2px 5px
		small
			font-size 12px
.body_content
	background border
	display block
	margin 0px auto
	min-height 400px
	position relative
	h1
		color #346287
		font-size 1.4em
	.contenedor-menu
		background azul-fondo
		display inline-block
		font-family 'roboto', sans-serif
		line-height 18px
		overflow-y auto
		ul
			list-style none
			padding 0
		.btn-menu
			background #0d2c44
			line-height 18px
			color blanco
			padding 20px
			text-decoration none
			.icono
				float right
		.menu
			font-size 0
			width 100%
			padding 0
			
			ul
				display none
				li
					a
						background sub-menu
						color #e9e9e9
						font-size 12px
						padding 10px 20px
			li
				font-size 16px
				padding 0
				margin 0
				list-style none
				a
					display block
					font-family 'roboto'
					text-decoration none
					line-height 16px
					color blanco
					padding 15px 20px
					background #001633
					&:hover
						background blanco
						color azul-fondo
			.activado > a
				background blanco
				color azul-fondo
			.icono
				font-size 12px
				line-height 16px
			.izquierda
				float left
				margin-right 10px
			.derecha
				float right
				margin-left 10px
	
	.contenedor-section
		background blanco
		border 1px #f4f4f4 solid
		display inline-block
		// height auto
		padding 5px
		vertical-align top
		.c-form
			// width 50%
			// margin 0px 30px
			padding 0px
			h3
				background azul-fondo
				color blanco
				padding 10px
				line-height 1.17em
				margin 0px 0px 10px 0px
			input
				border 1px solid border-gris
				display block
				margin-bottom 10px
				padding 2px 5px
				font-size 14px
				// width 50%
			label
				display block
				color subtitulo
				font-size 1.1em
				font-weight bold
			select
				display block
				margin 3px 0px
				// width 50%
				padding 3px 5px
				font-size 14px
			.btn-reg
				background #334455
				border 0px
				border-radius 5px
				color blanco
				padding 5px 0px
				font-family 'roboto'
				font-size 1.1em
				font-weight bold
				// letter-spacing 1px
				margin-top 10px
				width 110px
				&:hover
					background #44BBFF
			.error
				color red
				font-size 12px
				margin-top 0px
				margin-bottom 0px
				border-color red
				font-weight 100
			.correcto
				// background #def0a5
				color green
				font-size 12px
				margin-top 0px
				margin-bottom 0px
				border-color red
				font-weight bold
			.flotar
				float right
				margin-top 3px
			.show-form, .b-rut
				padding-left 10px		
@media screen and (min-width: 300px)
	.cont_menu
		display none
		ul
			width 100%
	.logo
		min-width 80px
		max-width 100px
		margin 0 auto
	.contenedor-menu
		margin 0
		width 100%
		z-index 1000
		.btn-menu
			display block
		.menu
			display none
	.contenedor-section
		width 100%
		min-height 400px
		.c-form
			width 100%
			// background red
			input
				width 100%
			select
				width 100%
@media screen and (min-width: 450px)
	.contenedor-section
		.c-form
			width 75%
			margin 0 auto
			input
				width 70%
			select
				width 70%

@media screen and (min-width: 600px)
	.contenedor-section
		.c-form
			width 60%
			margin 0 auto

@media screen and (min-width: 600px)
	.contenedor-section
		.c-form
			width 50%
			margin 0 auto
@media screen and (min-width: 1000px)
	nav
		display table
		height 75px
		width 75%
		div
			display table-cell
		.cont_menu
			display block
			height 75px
			position relative
			margin-top 0
			right 0
			ul
				bottom 10px
				position absolute
				right 0px
				width 36%
		.logo
			width 120px
			height 75px
	.contenedor-menu
		width 200px
		height 600px
		.btn-menu
			display none
		.menu
			display block
	.contenedor-section
		width 79.5555%
		height 600px
		background red
		.c-form
			width 50%
			margin 0px 30px
@media screen and (min-width: 1050px)
	.contenedor-section
		width 80%
@media screen and (min-width: 1100px)
	.contenedor-section
		width 81%
@media screen and (min-width: 1150px)
	.contenedor-section
		width 82%
@media screen and (min-width: 1200px)
	.contenedor-section
		width 83%
@media screen and (min-width: 1280px)
	.contenedor-section
		width 84%
@media screen and (min-width: 1321px)
	.contenedor-section
		width 84.5555%