azul-fondo = #022E5B
azul-boton = #47649F
azul-hover = #50A3E1
azul-titulo = #346287
blanco = #FFFFFF
body-color = #f9f9f9
border-gris = #cccccc

@font-face {
  font-family: 'icon';
  src:url('../fonts/icomoon.eot?t6fcdt');
  src:url('../fonts/icomoon.eot?t6fcdt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t6fcdt') format('truetype'),
    url('../fonts/icomoon.woff?t6fcdt') format('woff'),
    url('../fonts/icomoon.svg?t6fcdt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
  background azul-fondo
  font-family 'ubuntu', 'Helvetica', 'sans-serif'
  height auto
  font-size 16px
  margin 0
.content_global
  background url(../img/pattpdi2.png)
  margin 0 auto
  max-width 1400px
  min-width 300px
  min-height 700px
  width 100%
  position absolute
h1
  color azul-fondo
header
  background blanco
  border-bottom 1px solid #cccccc
  height auto
  width 100%
  nav
    height auto
    margin 0 auto
    font-size 0
    padding 5px
    .cont_menu
      border-radius 3px
      vertical-align top
      ul
        display table
        background #F8F8F8
        border 1px solid #e5e5e5
        border-radius 3px
        height 30px
        list-style none
        padding 0
        li
          display table-cell
          text-align center
          a 
            color #2D2D2D
            border-bottom 2px solid #F8F8F8
            display block
            font-size 16px
            padding 10px
            text-decoration none  
            &:hover
              border-bottom 2px solid #01295C
              color #01295C
          .menu_inicio
            font-weight bold
            &:before
              font-family "icon"
              content "\e902"
            &:after
              font-family "icon"
          .menu_hva
            &:after
              font-family "icon"
              content "\e903"
          .menu_alert
            &:after
              font-family "icon"
              content "\e901"
          .menu_close
            color #59be5d
            &:after
              font-family "icon"
              content "\e900"
            &:hover
              border-bottom 2px solid #f0040c
              color #f0040c
            
    .logo
      img
        width 100%
footer
  padding 0
  width 100%
  position relative
  // background red
  // margin-top 90px
  .pie_pag
    height auto
    margin 30px auto
    padding 3px
    width 210px
    img
      display block
      margin 0 auto
    .submenu
      width 100%
      margin-top 3px
      a
        font-size 14px
        display inline-block
        color gray
        text-decoration none
        padding 2px 5px
    small
      font-size 12px
.body_content
  background blanco
  border-radius 5px
  margin 10px auto
  padding 15px
  min-height 400px
  h1
    color #346287
    font-size 1.4em
  input
    border 1px solid #cccccc
    padding 5px
  .btn_button
    background #3C5A6F
    border-radius 3px
    padding 7px 10px
    color blanco
    font-weight 500
    &:hover
      background #0C2D46
  .title_hva
    font-size 1.8555em
    margin 16px 0px
  section
    display table
    width 100%
    article
      background body-color
      border 4px solid blanco
      cursor auto
      color #323232
      padding 10px
      text-align justify
      vertical-align top
      img
        display block
        position relative
        margin 0 auto
        text-align center
      h3
        text-align center
    .hva
      &:hover
        background #123B65
        color blanco
    .option
      &:hover
        background #2EC4B6
        color blanco
    .alert
      &:hover
        background #456990
        color blanco
  
  .body_hva
    margin-top 16px
    display block
    .cont_empleado
      border 1px solid #cccccc
      border-radius 5px
      background blanco
    .cont_cargo
      min-width 300px
      overflow-x auto
      white-space nowrap
      min-height 300px
      table
        width 100%
        background blanco
        border-radius 3px
        min-width 600px
        margin-top 10px
        th
          padding 3px
          border-bottom 1px solid #e0e0e0
        td 
          padding 3px
          a 
            color #01295C
            font-weight bold
            text-decoration none
            &:hover
              text-decoration underline
              color #C70039
    #listar,#listar2
      select
        width 60%
        margin-bottom 5px
    select
      width 100%
      height 30px
      margin-bottom 5px
    
              
@media screen and (min-width: 300px)
  .cont_menu
    margin 5px auto 0px auto
    width 90%
    ul
      width 100%

  .logo
    width 40%
    margin 0px
    min-width 129px
    max-width 135px
    margin 0 auto
    img
      width 100%
.body_content
  width 85%
  article
    img
      width 30%
  .cont_empleado
    width 90%
    max-width 450px
    margin-bottom 16px
    label
      display block
      font-size 18px
      color azul-titulo 
    input
      display block
      margin 5px 0px
      width 96%
      border solid 1px #efefef
    .cl_enviar
      background #47649F
      width 100px
      font-size 16px
      border none
      color blanco
      margin 10px 0px
      &:hover
        background #50A3E1
  .cont_search
    margin-bottom 16px
    .btn_search
      background azul-boton
      color blanco
      border 0
      padding 6px
      border-radius 3px
      &:hover
        background azul-hover
// @media screen and (min-width: 500px)
  

@media screen and (min-width: 720px)
  .body_content
    width 70%
    h1
      font-size 2em
    article
      img
        width 25%
      p
        font-size 1.1em
  .cont_menu
    width 73%
// @media screen and (min-width: 950px)
//   .body_hva            
@media screen and (min-width: 1000px)
  nav
    width 77%
    display table
    height 120px
    div
      display table-cell
    .cont_menu
      height 120px
      position relative
      margin-top 0
      right 0
      ul
        bottom 30px
        position absolute
        right 0px
        width 30%
    .logo
      width 10%
  .body_content
    width 75%
    
